@font-face {
	font-family: 'iconfontti';
	src: url('font/PingFang Regular.ttf');


}

body { background-color: #EBEBEB; font-family: '寰蒋闆呴粦','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0; margin: 0; font-size: 14px; color: #363636;line-height: 150%;}
ul,li{ padding: 0; margin: 0; list-style: none;}
a{ color: #333;}
.new-font-w3{ width: 53px;}
.new-font{text-align: left;;overflow:hidden;vertical-align:top;    }
.new-font>i{display:inline-block;width:100%;height:0;}
.new-font-b{ font-weight: normal;}
.new-font-b:before{ content: ""; margin: 0 3px;vertical-align:top;}
.justify-fix{ display: inline-block; width: 100%; height: 0; overflow: hidden;}
.justify-fix-l{ width: 0; height: 0; overflow: hidden;}
/**/
.new-body{ display: block; width: auto;overflow: hidden;box-sizing: border-box;}
.new-head{ display: block; height:12rem; background: url(images/headbg.png) no-repeat; background-size: cover;}
.new-use{ display:block;height: 60px; padding: 1.8rem 1rem 1.2rem 1rem;}
.new-use-info{display:inline-block; width: 82%; color: #00016b; font-size: 16px;  }
.new-use-info>ul>li{ display: block; height: 30px; line-height: 30px;}
.new-use-info>ul>li>span{ display: inline-block; }
.new-ues-paycode{display:inline-block; float: right; width:18%;}
/*card*/
.new-cards2{ box-shadow:none;border: none; opacity: 1; height: auto;  padding: 11px 10px 10px 10px;}
.new-cards2>ul{ margin: auto; padding: 0;}
.new-cards2 .new-card-item>b{ font-size: 18px;}


@font-face {
	font-family: 'iconfontti2';
	src: url('font/AdobeFangsongStd-Regular.otf');

}
@font-face {
	font-family: 'iconfontti3';
	src: url('font/FZYTJW.ttf');

}

.new-head-s2{     font-family: "iconfontti";   box-sizing: border-box;    position: relative;     height: 208px; width: 358px;    margin: .5rem;     margin-bottom: .8rem; border-radius: .8rem; box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);
	-webkit-backface-visibility: hidden;  -moz-backface-visibility: hidden;  -ms-backface-visibility: hidden;
	backface-visibility: hidden;  -webkit-perspective: 1000;  -moz-perspective: 1000;  -ms-perspective: 1000;  perspective: 1000; }
.new-use-logo{ display: block; width: 105%; height: 3rem;}
.new-use-logo>img{ display: block; width: 100%;    }
.new-use-s2{ height: auto;padding: .5rem 1rem 0rem 1rem;}
.new-use-s2 .new-use-info{ font-size: 13px; color: #000;margin-left: 1rem;  margin-top: .5rem;}
.new-use-s2 .new-font-b:before{    margin: 0 5px;}
.new-use-s2 .new-use-info>ul>li{    height: 1.3rem;line-height: 1.3rem;}
.new-use-info .new-font-em{display: inline-block; margin-left: 2rem; font-style: normal; font-size: 13px;}

.new-use-photo{ display: block; position: absolute; right:1.6rem;    top:3rem; width: 6.6rem; }
.new-use-photo-title{ display: block; margin: auto; text-align: center; font-size: 26px; color: #004491; font-weight: 500; font-family: "iconfontti";}
.new-use-photo-mian{ display: block; margin: auto; text-align: center; width: 4.4rem; height: 6rem;/* background: url(images/Currentno.png) no-repeat top left;background-size: 100%; */ margin-top: .8rem;    position: relative; overflow: hidden;}
.new-use-contact{ display: block;  position: absolute; left: 0; bottom: 0; width: 100%; border-radius: 0 0 .8rem .8rem; background: rgba(211, 225, 238,0.8); height: 2.4rem; line-height: 2.4rem;     text-align: center;}
.new-use-contact>ul{ margin: auto; padding: 0;}
.new-use-contact>ul>li{ display: inline-block; color:#2C2C2B; font-size: 11px; margin: 0 .3rem;}
.new-use-contact>ul>li>span:after{content: ":"; margin: 0 .3rem;}
.new-use-contact>ul>li>img{ display: inline-block; width: 1.8rem;  vertical-align: middle; margin-top: -.3rem;}
.new-use-photo-mian>img{ display: block; width: 100%;}
.new-use-contact .new-usec-left{ float: left;}
.new-use-contact .new-usec-right{ float: right;}
.new-use-contact .new-usec-right span:after{  content: "";}
.new-usein-b{ font-size: 14px; font-weight: 600;  color: #282828;    display: block;margin-left: .4rem;    margin-top: .5rem;}
.new-usein-c{ color: #333333; font-size: 10px;    margin-left: .4rem; margin-top: .6rem;position: absolute;
	bottom: 40px;}
.new-usein-c span:after { content: ":";margin: 0 .3rem;}




/*鏀惧ぇ  妯″潡*/
.hcf-Card-enlarge{ display: block; position: absolute; width: 100%; height: 100%; background: #F7F6FA;  overflow: hidden;  z-index: 33;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	/*淇椤甸潰闂儊*/
}

.hcf-Card-enlarge .new-head-s2{transform: rotate(90deg) scale(.92) !important; -webkit-transform: rotate(90deg) scale(.92) !important; -moz-transform: rotate(90deg) scale(.92) !important; -ms-transform:rotate(90deg) scale(.92) !important;
	position: absolute; margin: 0 auto;
	transform-origin:center center !important;-webkit-transform-origin:center center !important;-moz-transform-origin:center center !important;-ms-transform-origin:center center !important; }
.hcf-Card-enlarge .new-use-contact{ display: table; position: fixed; bottom: 0; left: 0; width: 100%; height: 4.7rem; line-height: 4.7rem;    text-align: center; }

.hcf-Card-enlarge .new-use-contact>ul{ display: table-cell;}
.hcf-Card-enlarge .new-use-contact>ul>li{ font-size: .72rem; margin:0 auto;}
.hcf-Card-enlarge .new-use-contact>ul>li>img{width: 4rem;vertical-align: middle; margin-top: -.2rem;}
.hcf-Card-enlarge .new-use-contact>ul>li:last-child{ margin-left: .4rem;}
.hcf-timebox{  display: table-cell;    line-height: normal;}
.hcf-timebox>ul{ margin: auto; padding: 0;}

.hcf-Card-enlarge .new-use-photo{ width: 40%;    top: 1.8rem;}
.hcf-Card-enlarge .new-use-photo-title{    font-size:35px;}
.hcf-Card-enlarge .new-use-photo-mian{    width: 7.8rem; height:10rem;    margin-top: 5rem;}
.hcf-Card-enlarge .new-use-s2 .new-use-info{ font-size: 1.2rem; margin-left: 10%;margin-top: 4rem;}
.hcf-Card-enlarge .new-use-s2 .new-use-info>ul>li{    height: 1.6rem; line-height: 1.6rem;}
.hcf-Card-enlarge .new-use-info .new-font-em{font-size: 1.15rem; }
.hcf-Card-enlarge .new-use-s2{    padding: 1rem 1rem 0rem 1rem;}

body .hcf-timebox main #clock{ margin-top: auto; display: inline;}
.hcf-timebox .time-container-in{    margin-top: -.5rem;}

.hcf-Card-enlarge .new-use-logo{    width: 102.5%;}
.hcf-Card-enlarge .new-usein-b {font-size: 20px;}
.hcf-Card-enlarge .hcf-timebox{float: left;    margin-bottom: -.5rem;}
.hcf-Card-enlarge .new-usein-c{ font-size: 14px;    margin-top: 2.5rem;}

/*閫傞厤*/
@media (min-device-width: 511px) and (max-device-width: 768px)and (-webkit-min-device-pixel-ratio : 2){
	.new-head-s2{    transform: scale(1.1) !important;transform-origin: 0px 0px;-webkit-transform: scale(1.1) !important;-webkit-transform-origin: 0px 0px;
		-moz-transform: scale(1.1) !important;-moz-transform-origin: 0px 0px;-ms-transform: scale(1.1) !important;-ms-transform-origin: 0px 0px;
		margin-left: 12.5%; margin-bottom: 35px;}
	.hcf-Card-enlarge .new-head-s2{width: 666px !important; height: 374px !important;    transform: rotate(90deg) scale(1) !important;/*transform-origin: 227.5px 227.5px !important;*/
		-webkit-transform: rotate(90deg) scale(1) !important;-moz-transform: rotate(90deg) scale(1) !important;-ms-transform: rotate(90deg) scale(1) !important;}
}

@media (min-device-width: 511px) and (max-device-width: 768px)and (-webkit-min-device-pixel-ratio : 3){
	.new-head-s2{    transform: scale(1.1) !important;transform-origin: 0px 0px; -webkit-transform: scale(1.1) !important;-webkit-transform-origin: 0px 0px;
		-moz-transform: scale(1.1) !important;-moz-transform-origin: 0px 0px;-ms-transform: scale(1.1) !important;-ms-transform-origin: 0px 0px;
		margin-left: 12.5%; margin-bottom: 35px;}
	.hcf-Card-enlarge .new-head-s2{width: 666px !important; height: 374px !important;    transform: rotate(90deg) scale(1) !important;
		-webkit-transform: rotate(90deg) scale(1) !important;-moz-transform: rotate(90deg) scale(1) !important;-ms-transform: rotate(90deg) scale(1) !important;}
}

@media (min-device-width: 411px) and (max-device-width: 510px)and (-webkit-min-device-pixel-ratio : 2){
	.new-head-s2{    transform: scale(1.05) !important;transform-origin: 0px 0px; -webkit-transform: scale(1.05) !important;-webkit-transform-origin: 0px 0px;
		margin-left: 4.5%; margin-bottom: 25px;}
	.hcf-Card-enlarge .new-head-s2{width: 666px !important; height: 374px !important;    transform: rotate(90deg) scale(.9) !important;-webkit-transform: rotate(90deg) scale(.9) !important; -moz-transform: rotate(90deg) scale(.9) !important;}
	.new-body .new-head-s2{margin-left:  4.5% !important;}
}

@media (min-device-width: 411px) and (max-device-width: 510px)and (-webkit-min-device-pixel-ratio : 3){
	.new-head-s2{    transform: scale(1.05) !important;transform-origin: 0px 0px;  -webkit-transform: scale(1.05) !important;-webkit-transform-origin: 0px 0px;
		-moz-transform: scale(1.05) !important;-moz-transform-origin: 0px 0px;  -ms-transform: scale(1.05) !important;-ms-transform-origin: 0px 0px;
		margin-left: 4.5%; margin-bottom: 25px;}
	.hcf-Card-enlarge .new-head-s2{width: 666px !important; height: 374px !important;    transform: rotate(90deg) scale(.9) !important;/*transform-origin: 197.5px 197.5px !important;*/}
	.new-body .new-head-s2{margin-left:  4.5% !important;}
}

@media (min-device-width: 371px) and (max-device-width: 410px)and (-webkit-min-device-pixel-ratio : 2){
	.new-head-s2{    transform: scale(1) !important;transform-origin: 0px 0px; -webkit-transform: scale(1) !important;-webkit-transform-origin: 0px 0px;
		-moz-transform: scale(1) !important;-moz-transform-origin: 0px 0px;-ms-transform: scale(1) !important;-ms-transform-origin: 0px 0px;
		margin-left:  auto;}
	.hcf-Card-enlarge .new-head-s2{width: 602px !important; height: 374px !important;    transform: rotate(90deg) scale(.9) !important;/*transform-origin: 187.5px 187.5px !important;*/}
}

@media (min-device-width: 371px) and (max-device-width: 410px)and (-webkit-min-device-pixel-ratio : 3){
	.new-head-s2{    transform: scale(1) !important;transform-origin: 0px 0px;-webkit-transform: scale(1) !important;-webkit-transform-origin: 0px 0px;
		-moz-transform: scale(1) !important;-moz-transform-origin: 0px 0px;-ms-transform: scale(1) !important;-ms-transform-origin: 0px 0px;
		margin-left:  auto;}
	.hcf-Card-enlarge .new-head-s2{width: 602px !important; height: 374px !important;    transform: rotate(90deg) scale(.9) !important;/*transform-origin: 187.5px 187.5px !important;*/}
}

@media (min-device-width: 340px) and (max-device-width: 370px)and (-webkit-min-device-pixel-ratio : 2){
	.new-head-s2{    transform: scale(.94) !important;transform-origin: 0px 0px; -webkit-transform: scale(.94) !important;-webkit-transform-origin: 0px 0px;
		-moz-transform: scale(.94) !important;-moz-transform-origin: 0px 0px; -ms-transform: scale(.94) !important;-ms-transform-origin: 0px 0px;
		margin-left: 3% ;       margin-bottom: -10px;}
	.hcf-Card-enlarge .new-head-s2{width: 602px !important; height: 374px !important;    transform: rotate(90deg) scale(.8) !important;}
	.new-body .new-head-s2{margin-left:   3% !important;}
}

@media (min-device-width: 340px) and (max-device-width: 370px)and (-webkit-min-device-pixel-ratio : 3){
	.new-head-s2{    transform: scale(.94) !important;transform-origin: 0px 0px; margin-left:  3% ;       margin-bottom: -10px;   margin-left: 3% !important;}
	.hcf-Card-enlarge .new-head-s2{width: 602px !important; height: 374px !important;    transform: rotate(90deg) scale(.8) !important;}
}

@media (max-device-width: 330px)and (-webkit-min-device-pixel-ratio : 2){
	.new-head-s2{    transform: scale(.82) !important;transform-origin: 0px 0px; margin-left:  4% ;    margin-bottom: -35px;}
	.hcf-Card-enlarge .new-head-s2{width: 602px !important; height: 374px !important;    transform: rotate(90deg) scale(.75) !important; }
	.new-body .new-head-s2{margin-left:  4% !important;}
	.new-use-contact>ul>li { margin: 0 .3rem;}
}

/**/
.new-cards2{ height: 50px;}
#deptName{    font-weight: normal; width: 70%; display: inline-block;}
.new-next{padding-top: 12px;}
/*#deptName::before{ content:""; margin:0;}
.new-use-info>ul>li:last-child>span:after {content: ":";margin: 5px;
    font-weight: normal;
    float: right;
    display: inline-block;
    margin-top: -20px;
}*/
.new-font-b:before{ content: "";margin: 0;}
.new-use-s2 .new-font-b:before{    margin: 0;}